@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <!-- END nav -->

    <div class="hero-wrap js-fullheight" style="background-image: url('/images/bg_1.jpg');">

        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">
                    <span class="subheading">Chào Mừng Đến với Gia Sư Online Việt!</span>
                    <h1 class="mb-4">Nơi Cung Cấp Những Khóa Học Chất Lượng Cho Bạn</h1>
                    <p class="caps">Luôn sẵn sàng đem tri thức đến với bạn, vượt qua mọi không gian và thời gian.</p>
                    <p class="mb-0"><a href="#" class="btn btn-primary">Học Ngay</a> <a href="#" class="btn btn-white">Xem Thêm</a></p>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <div class="container">
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5 order-md-last">
                    <div class="login-wrap p-4 p-md-5">
                        <h3 class="mb-4">Register Now</h3>
                        <form action="#" class="signup-form">
                            <div class="form-group">
                                <label class="label" for="name">Full Name</label>
                                <input type="text" class="form-control" placeholder="John Doe">
                            </div>
                            <div class="form-group">
                                <label class="label" for="email">Email Address</label>
                                <input type="text" class="form-control" placeholder="johndoe@gmail.com">
                            </div>
                            <div class="form-group">
                                <label class="label" for="password">Password</label>
                                <input id="password-field" type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label class="label" for="password">Confirm Password</label>
                                <input id="password-field" type="password" class="form-control" placeholder="Confirm Password">
                            </div>
                            <div class="form-group d-flex justify-content-end mt-4">
                                <button type="submit" class="btn btn-primary submit"><span class="fa fa-paper-plane"></span></button>
                            </div>
                        </form>
                        <p class="text-center">Already have an account? <a href="#signin">Sign In</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center pb-4">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Bắt Đầu Học Ngay!</span>
                    <h2 class="mb-4">Danh Sách Những Khóa Học Online Hiện Có</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url('/images/work-1.jpg');">
                        <div class="text w-100 text-center">
                            <h3>IT &amp; Software</h3>
                            <span>100 course</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url('/images/work-9.jpg');">
                        <div class="text w-100 text-center">
                            <h3>Music</h3>
                            <span>100 course</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url('/images/work-3.jpg');">
                        <div class="text w-100 text-center">
                            <h3>Photography</h3>
                            <span>100 course</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url('/images/work-5.jpg');">
                        <div class="text w-100 text-center">
                            <h3>Marketing</h3>
                            <span>100 course</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url('/images/work-8.jpg');">
                        <div class="text w-100 text-center">
                            <h3>Health</h3>
                            <span>100 course</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url('/images/work-6.jpg');">
                        <span class="text w-100 text-center">
                            <h3>Audio Video</h3>
                            <span>100 course</span>
                        </span>
                    </a>
                </div>
                <div class="col-md-12 text-center mt-5">
                    <a href="#" class="btn btn-secondary">Xem Tất Cả</a>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center pb-4">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Bắt Đầu Học Ngay!</span>
                    <h2 class="mb-4">Những Khóa Học Tiêu Biểu</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(images/work-1.jpg);">
                            <span class="price">Software</span>
                        </a>
                        <div class="text p-4">
                            <h3><a href="#">Design for the web with adobe photoshop</a></h3>
                            <p class="advisor">Advisor <span>Tony Garret</span></p>
                            <ul class="d-flex justify-content-between">
                                <li><span class="flaticon-shower"></span>2300</li>
                                <li class="price">$199</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(images/work-2.jpg);">
                            <span class="price">Software</span>
                        </a>
                        <div class="text p-4">
                            <h3><a href="#">Design for the web with adobe photoshop</a></h3>
                            <p class="advisor">Advisor <span>Tony Garret</span></p>
                            <ul class="d-flex justify-content-between">
                                <li><span class="flaticon-shower"></span>2300</li>
                                <li class="price">$199</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url('/images/work-3.jpg');">
                            <span class="price">Software</span>
                        </a>
                        <div class="text p-4">
                            <h3><a href="#">Design for the web with adobe photoshop</a></h3>
                            <p class="advisor">Advisor <span>Tony Garret</span></p>
                            <ul class="d-flex justify-content-between">
                                <li><span class="flaticon-shower"></span>2300</li>
                                <li class="price">$199</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url('/images/work-4.jpg');">
                            <span class="price">Software</span>
                        </a>
                        <div class="text p-4">
                            <h3><a href="#">Design for the web with adobe photoshop</a></h3>
                            <p class="advisor">Advisor <span>Tony Garret</span></p>
                            <ul class="d-flex justify-content-between">
                                <li><span class="flaticon-shower"></span>2300</li>
                                <li class="price">$199</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url('/images/work-5.jpg');">
                            <span class="price">Software</span>
                        </a>
                        <div class="text p-4">
                            <h3><a href="#">Design for the web with adobe photoshop</a></h3>
                            <p class="advisor">Advisor <span>Tony Garret</span></p>
                            <ul class="d-flex justify-content-between">
                                <li><span class="flaticon-shower"></span>2300</li>
                                <li class="price">$199</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(images/work-6.jpg);">
                            <span class="price">Software</span>
                        </a>
                        <div class="text p-4">
                            <h3><a href="#">Design for the web with adobe photoshop</a></h3>
                            <p class="advisor">Advisor <span>Tony Garret</span></p>
                            <ul class="d-flex justify-content-between">
                                <li><span class="flaticon-shower"></span>2300</li>
                                <li class="price">$199</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_4.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 d-flex align-items-center">
                        <div class="icon"><span class="flaticon-online"></span></div>
                        <div class="text">
                            <strong class="number" data-number="400">0</strong>
                            <span>Khóa Học Online</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 d-flex align-items-center">
                        <div class="icon"><span class="flaticon-graduated"></span></div>
                        <div class="text">
                            <strong class="number" data-number="4500">0</strong>
                            <span>Học Sinh Tham Gia</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 d-flex align-items-center">
                        <div class="icon"><span class="flaticon-instructor"></span></div>
                        <div class="text">
                            <strong class="number" data-number="1200">0</strong>
                            <span>Giảng Viên Kinh Nghiệm</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 d-flex align-items-center">
                        <div class="icon"><span class="flaticon-tools"></span></div>
                        <div class="text">
                            <strong class="number" data-number="300">0</strong>
                            <span>Hours Content</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-about img">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-12 about-intro">
                    <div class="row">
                        <div class="col-md-6 d-flex">
                            <div class="d-flex about-wrap">
                                <div class="img d-flex align-items-center justify-content-center" style="background-image:url('/images/about-1.jpg');">
                                </div>
                                <div class="img-2 d-flex align-items-center justify-content-center" style="background-image:url('/images/about.jpg');">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pl-md-5 py-5">
                            <div class="row justify-content-start pb-3">
                                <div class="col-md-12 heading-section ftco-animate">
                                    <span class="subheading">Nâng Cấp Bản Thân Bạn</span>
                                    <h2 class="mb-4">Học Tất Cả Mọi Thứ Bạn Muốn </h2>
                                    <p>Bất kỳ ai cũng có thể học hỏi, khám phá và sáng tạo. Không có giới hạn cho sự hiểu biết và không có biên giới cho sự tò mò. Những cư dân văn bản mù lòa tin rằng kiến thức là vô hạn và việc học là một hành trình không bao giờ kết thúc. Và chúng tôi mang đến cho bạn những dịch vụ, trải nghiệm tốt nhất khi đến với chúng tôi Trung Tâm Gia sư mọi đều tốt nhất đều giành cho bạn.</p>
                                    <p><a href="#" class="btn btn-primary">Đăng Ký Ngay!</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section testimony-section bg-light">
        <div class="overlay" style="background-image: url('/images/bg_2.jpg');"></div>
        <div class="container">
            <div class="row pb-4">
                <div class="col-md-7 heading-section ftco-animate">
                    <span class="subheading">Testimonial</span>
                    <h2 class="mb-4">Đánh Giá Của Học Sinh</h2>
                </div>
            </div>
        </div>
        <div class="container container-2">
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </p>
                                    <p class="mb-4">Giảng viên chuyên nghiệp có kiến thức sâu rộng mà còn rất nhiệt tình và thân thiện. Khóa học sử dụng nhiều phương pháp giảng dạy tiên tiến như video bài giảng, bài tập thực hành, bài kiểm tra kiến thức, và các dự án thực tế. Hỗ trợ học viên tuyệt vời luôn sẵn sàng giúp đỡ khi gặp khó khăn trong quá trình học tập.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                                        <div class="pl-3">
                                            <p class="name">Roger Scott</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </p>
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                                        <div class="pl-3">
                                            <p class="name">Roger Scott</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </p>
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url(images/person_3.jpg)"></div>
                                        <div class="pl-3">
                                            <p class="name">Roger Scott</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </p>
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                                        <div class="pl-3">
                                            <p class="name">Roger Scott</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </p>
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                                        <div class="pl-3">
                                            <p class="name">Roger Scott</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-intro ftco-section ftco-no-pb">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="img" style="background-image: url(images/bg_4.jpg);">
                        <div class="overlay"></div>
                        <h2>We Are StudyLab An Online Learning Center</h2>
                        <p>We can manage your dream building A small river named Duden flows by their place</p>
                        <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Enroll Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section services-section">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 heading-section pr-md-5 ftco-animate d-flex align-items-center">
                    <div class="w-100 mb-4 mb-md-0">
                        <span class="subheading">Chào Mừng Đến với Gia Sư Online Việt!</span>
                        <h2 class="mb-4">Nơi Cung Cấp Những Khóa Học Chất Lượng Cho Bạn</h2>
                        <p>Trong thời đại công nghệ 4.0, việc học tập và nâng cao kiến thức đã trở nên dễ dàng và tiện lợi hơn bao giờ hết nhờ vào sự phát triển của các nền tảng học trực tuyến. Một trong những nơi nổi bật nhất cung cấp những khóa học chất lượng cho bạn chính là chúng tôi trung tâm gia sư.</p>
                        <p>Luôn sẵn sàng đem tri thức đến với bạn, vượt qua mọi không gian và thời gian.</p>
                        <div class="d-flex video-image align-items-center mt-md-4">
                            <a href="#" class="video img d-flex align-items-center justify-content-center" style="background-image: url(images/about.jpg);">
                                <span class="fa fa-play-circle"></span>
                            </a>
                            <h4 class="ml-4">Learn anything from StudyLab, Watch video</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="services">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tools"></span></div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">Nội Dung Chất Lượng Hàng Đầu</h3>
                                    <p>Nội dung bài giảng phù hợp và luôn cập nhật những bài giảng mới nhất,cung cấp những tài liệu chất lượng cho học viên.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="services">
                                <div class="icon icon-2 d-flex align-items-center justify-content-center"><span class="flaticon-instructor"></span></div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">Giảng Viên Có Kỹ Năng Cao</h3>
                                    <p>Có đội ngũ giảng viên chất lượng tinh thần trách nhiệm cao trong công việc, tận tình trong việc dạy học luôn giải đáp mọi thắt mắt của học viên.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="services">
                                <div class="icon icon-3 d-flex align-items-center justify-content-center"><span class="flaticon-quiz"></span></div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">Đẳng Cấp Thế Giới & Câu Hỏi Trắc Nghiệm</h3>
                                    <p>Nội dung bài học chất lượng có bài kiểm tra đánh giá năng lực của từng học viên giúp cho học viên nhận ra và cải thiện những điểm yếu và phát triển những điểm mạnh.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="services">
                                <div class="icon icon-4 d-flex align-items-center justify-content-center"><span class="flaticon-browser"></span></div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">Chứng Chỉ</h3>
                                    <p>Cam kết cung cấp các chính chỉ khi học viên hoàn thành khóa học.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center pb-4">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Our Blog</span>
                    <h2 class="mb-4">Recent Post</h2>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-lg-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20" style="background-image: url('images/image_1.jpg');">
                        </a>
                        <div class="text d-block">
                            <div class="meta">
                                <p>
                                    <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
                                    <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                                    <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                                </p>
                            </div>
                            <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
                            <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
                        </a>
                        <div class="text d-block">
                            <div class="meta">
                                <p>
                                    <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
                                    <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                                    <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                                </p>
                            </div>
                            <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
                            <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
                        </a>
                        <div class="text d-block">
                            <div class="meta">
                                <p>
                                    <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
                                    <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                                    <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                                </p>
                            </div>
                            <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
                            <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="ftco-footer ftco-no-pt">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md pt-5">
                    <div class="ftco-footer-widget pt-md-5 mb-4">
                        <h2 class="ftco-heading-2">About</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                            <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md pt-5">
                    <div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Help Desk</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Customer Care</a></li>
                            <li><a href="#" class="py-2 d-block">Legal Help</a></li>
                            <li><a href="#" class="py-2 d-block">Services</a></li>
                            <li><a href="#" class="py-2 d-block">Privacy and Policy</a></li>
                            <li><a href="#" class="py-2 d-block">Refund Policy</a></li>
                            <li><a href="#" class="py-2 d-block">Call Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md pt-5">
                    <div class="ftco-footer-widget pt-md-5 mb-4">
                        <h2 class="ftco-heading-2">Recent Courses</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Computer Engineering</a></li>
                            <li><a href="#" class="py-2 d-block">Web Design</a></li>
                            <li><a href="#" class="py-2 d-block">Business Studies</a></li>
                            <li><a href="#" class="py-2 d-block">Civil Engineering</a></li>
                            <li><a href="#" class="py-2 d-block">Computer Technician</a></li>
                            <li><a href="#" class="py-2 d-block">Web Developer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md pt-5">
                    <div class="ftco-footer-widget pt-md-5 mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon fa fa-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                                <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">info@yourdomain.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    @*     <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    *@

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>